#root {
  text-align: left;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.submit {
  margin-top: 1rem;
  background-color: #80013c;
  color: white;
}

.submit:hover {
  border-color: #d6d8fa;
  background-color: #80013c;
  color: white;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
  color: #80013c;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  height: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  margin-bottom: 2rem;
}

.slide {
  display: inline-block;
  height: 100px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #80013c;
}


#quote-box {
  border: #80013c solid 2px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  text-wrap: wrap;
}

#text {
  font-size: 1rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}